.body {
    height: 100%;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Montserrat';
}

h2 {
    font-weight: 600;
}

p {
    font-family: 'Montserrat';
    line-height: 1.6em;
}

.btn {
    font-family: 'Montserrat';
}

.galaxy {
    color: #2b2c2e;
    background-color: #e8f2f4;
}

.tech {
    color: #2b2c2e;
    background-color: #323B68;
}

.nature {
    color: #2b2c2e;
    background-color:#f8c5ad;
}
.nature p {
    font-family: 'Montserrat';
    line-height: 1.6em;
    color: white;
    background-color: #7f312f;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 0;
    opacity: .8;
}

.food {
    background-color: #070402;
}

/* header */

header {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
}

.navbar-brand {
    color: #fff !important;
    font-weight: 700;
}

.nature .navbar-brand {
    color: black !important;
    font-weight: 800;
}

.navbar-brand img {
    width: 50px;
}
.nature .navbar-brand img {
    width: 50px;
}

.nav-link {
    color: #fff !important;
    font-family: 'Montserrat';
}
.nature .nav-link {
    color: black !important;
    font-family: 'Montserrat';
    font-weight: 800;
}

.nav-link:hover, .active {
    background-color: rgba(255, 255, 255, 0.3);
}

.nature .nav-link:hover, .nature .active {
    text-decoration: underline;
    background-color: rgb(136, 48, 63, 0.4);
    border-radius: 10px;
    color: #341a19;
}

.navbar .btn {
    width: 100px;
    border: 1px solid #fff !important;
    color: #fff;
}

.navbar .btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}

.galaxy .navbar .btn-2 {
    border: none !important;
    background-color: #5496a6;
}

.galaxy .navbar .btn-2:hover {
    background-color: #216576;
}

.food .navbar .btn-2 {
    border: none !important;
    background-color: #800020;
}

.food .navbar .btn-2:hover {
    background-color: #5d0017;
}

.nature .navbar .btn-2 {
    border: none !important;
    background-color: #88303f;
}

.nature .navbar .btn-2:hover {
    background-color: #216576;
}

#login{
    border: none !important;
    background-color: #88303f;
}

#login:hover {
    background-color: #216576;
}

/* hero banner */

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero-back {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
}

.hero-back img {
    width: 100%;
    object-fit: cover;
}
.hero-back .nature-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-front {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    z-index: 1;
}

.hero-front img {
    width: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    color: #fff;
    max-width: 500px;
    z-index: 2;
}
.nature .hero-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%,-50%);
    color: #341a19;
    max-width: 500px;
    z-index: 2;
}
.hero-text h1 {
    font-size: 5em;
    font-weight: 700;
}

.hero-text p {
    font-size: 1.2em;
}

.hero-text .btn {
    padding: 20px 40px;
    border-radius: 10px;
    width: 300px;
    font-weight: 600;
    font-size: 2em;
    color: #fff;
    border: none;
    margin-top: 80px;
}

.galaxy .hero-text .btn {
    background-color: #f9b36e;
    box-shadow: 7px 7px #f08b28;
}

.galaxy .hero-text .btn:active {
    background-color: #f08b28;
}

.food .hero-text .btn {
    background-color: #800020;
    box-shadow: 7px 7px #5d0017;
}

.food .hero-text .btn:active {
    background-color: #5d0017;
}

.nature .hero-text .btn {
    background-color: #62be99;
    box-shadow: 7px 7px #1c9b68;
}

.nature .hero-text .btn:active {
    background-color:#1c9b68;
}

.tech .hero .container {
	margin: auto;
	width: 43%;
	opacity: 70%;
}

.tech .hero .hero-text{
	text-align: center;
}


.tech .hero-text .btn {
	margin-top:30px;
	width: 200px;
    background-color: white;
	color: #111111;
	opacity: 100%;
	border-radius: 50%;
}

.tech .hero-text .btn:hover {
    opacity: 70%;
}

.tech .hero-text .btn:active {
    background-color: #222222;
	border-radius: 50%;
	animation: ripple 1250ms ease-out forwards, fade 1500ms ease-out forwards;
}

/* main section */

#main {
    margin: 200px 0;
}

/* about section */

#about-section {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 30px 30px 50px rgba(155, 155, 155, 0.2);
    width: 100%;
    height: auto;
}

.about-img {
    position: relative;
    width: 40%;
    overflow: hidden;
    flex: 0 0 50%;
    border-radius: 10px 0 0 10px;
}

.tech .about-img img {
	margin-top: 10%;
	margin-left: 5%;
    width: 90%;
}

.galaxy .about-img::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    background-image: url(https://i.postimg.cc/HxBWnZNp/galaxy-about.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.food .about-img::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    background-image: url(https://i.postimg.cc/Gtgc1JjX/food-about.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.nature .about-img::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    background-image: url(https://i.postimg.cc/L5Ld1x2S/AboutUS.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.about-img img {
    width: 100%;
    height: 300px;
}

.about-text {
    width: 60%;
    padding: 48px 56px;
}

.about-text h1 {
    font-weight: 700;
}

.about-text .btn {
    border: none;
    width: 200px;
    padding: 15px 10px;
    font-size: 1.2em;
    font-weight: 500;
}

.galaxy .about-text .btn {
    color: #fff;
    background-color: #a94e66;
    box-shadow: 5px 5px #88303f;
}

.galaxy .about-text .btn:active {
    background-color: #88303f;
}

.tech .about-text .btn {
    color: #fff;
    background-color: #141B41;
    box-shadow: 5px 5px #719EB0;
}

.food .about-text .btn {
    color: #fff;
    background-color: #800020;
    box-shadow: 5px 5px #5d0017;
}

.food .about-text .btn:active {
    background-color: #5d0017;
}

.nature .about-text .btn {
    color: #fff;
    background-color:  #62be99;
    box-shadow: 5px 5px #1c9b68;
}

.nature .about-text .btn:active {
    background-color: #1c9b68;
}

/* meet the team/services section  */

.team-section {
    margin: 200px 0;
    text-align: center;
}

.food .team-section > h1, 
.food .team-section > p {
    color: #fff;
}

.team-section h1 {
    font-weight: 700;
}

.team-list {
    padding: 0;
    margin-top: 50px;
}

.card {
    background-color: #fff;
    border-radius: 10px !important;
    width: 100%;
    max-width: 380px;
    border: none !important;
    box-shadow: 30px 30px 50px rgba(155, 155, 155, 0.2);
}

.member-img {
    overflow: hidden;
    height: 200px;
    border-radius: 10px;
    border-radius: 12px 12px 0 0;
}

.member-img img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: transform 300ms ease-in-out;
}

.member-img img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.card-body h3 {
    font-weight: 600;
}

/* footer section*/

footer {
    width: 100%;
    height: 550px;
    overflow: hidden;
    color: #fff;
}
.Nature-footer {
    width: 100%;
    height: 550px;
    overflow: hidden;
    color: #341a19;
}
.Nature-footer a {
    color: #341a19;
}

.footer-back {
    position: absolute;
    height: inherit;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.footer-back img {
    width: 100%;
    object-fit: cover;
}
.nature .footer-back img {
    width: 100%;
    object-fit: cover;
}

.footer-text h2{
    font-weight: 600;
}

label {
    font-family: 'Montserrat';
}

textarea {
    resize: none !important;
}

.footer-text input, textarea {
    background-color: rgba(155, 155, 155, 0.4) !important;
    color: #fff !important;
}

.footer-text .btn {
    border: none;
    width: 200px;
    padding: 15px 10px; 
    font-size: 1.2em;
    font-weight: 500;
}

.galaxy .footer-text .btn {
    color: #fff;
    background-color: #f9b36e;
    box-shadow: 5px 5px #f08b28;
}

.galaxy .footer-text .btn:active {
    background-color: #f08b28;
}

.food .footer-text .btn {
    color: #fff;
    background-color: rgb(27, 27, 27);
    box-shadow: 5px 5px #000;
}

.food .footer-text .btn:active {
    background-color: #000;
}

.tech .footer-text .btn {
    color: #fff;
    background-color: #719EB0;
}

.tech .footer-text .btn:hover {
    color: #fff;
    background-color: #141B41;
}

.tech .footer-text .btn:active {
    color: #fff;
    background-color: #A3D0E1;
}

.nature .footer-text .btn {
    color: #fff;
    background-color:  #a94e66;
    box-shadow: 5px 5px #88303f;
}

.nature .footer-text .btn:active {
    background-color: #88303f;
}

.footer-text ul {
    margin-top: 40px;
    text-align: left;
}

.footer-text li {
    margin-bottom: 10px;
}

.footer-text li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.footer-text li a:hover {
    text-decoration: underline;
}

.galaxy .footer-text img {
    width: 300px;
    opacity: 0.8;
}

.nature .footer-text img {
    width: 300px;
    opacity: 0.8;
}

.tech .footer-text img {
    width: 300px;
    opacity: 0.8;
}
